body {
    margin: 0;
    padding: 0 10px;
    font-family: arial,sans-serif;
}

.content {
    flex-direction: column;
    margin-top: 200px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .content__img {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 320px) {
    .content__img {
        transform: scale(0.6);
    }
}

.content__img {
    position: relative;
    width: 400px;
    height: 114px;
}

.content__img h1 {
    cursor: default;
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-weight: normal;
    color: #666666;
    position: absolute;
    bottom: 7px;
    right: 4px;
}

.content__img h1 span {
    color: transparent;
}

.input {
    margin-top: 30px;
    max-width: 584px;
    width: 100%;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}

.input:focus,
.input:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.input input {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: inherit;
    flex-direction: column;
    width: 100%;
    line-height: 22px;
    overflow-x: hidden;
    font-size: 21px;
    padding: 12px 45px;
    box-sizing: border-box;
}

.input__icon {
    height: 20px;
    line-height: 20px;
    width: 20px;
    position: absolute;
    top: 14px;
    left: 17px;
}

.input__icon_right {
    right: 17px;
    left: auto;
}

.form {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__actions {
    display: flex;
    gap: 10px;
}

.form__button {
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.mouse {
    transition: transform ease 2s;
    transform: translate(100px, -21px);
    position: absolute;
    z-index: 100;
    top:0;
    left:0;
    width: 15px;
    height: 21px;
    background: url(assets/mouse.png) center center / cover no-repeat;
}